

#countdown {
    white-space: nowrap;
    position: fixed;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Alex Brush', cursive;
    font-size: 6vh;
    color: #7D5642;
    text-align: center;
    padding: 20px;
    z-index: 9999;
    @media (max-width: 768px) {
        font-size: 4vw; /* Tamaño relativo para dispositivos más pequeños */
        padding: 10px;
    }
}

