

#countdown {
    white-space: nowrap;
    position: relative;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Alex Brush', cursive;
    font-size: 6vw;
    color: #7D5642;
    text-align: center;
    padding: 20px;
    z-index: 9999;
    @media (max-width: 768px) {
        font-size: 18px;
        padding: 10px;
    }
}

#container {
    /* Asegura que el contenedor ocupe todo el espacio disponible */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}
