

#countdown {
    white-space: nowrap;
    position: fixed;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'The Seasons', sans-serif;
    font-size: 3vh;
    color: #7D5642;
    text-align: center;
    padding: 20px;
    z-index: 9999;
    @media (max-width: 768px) {
        font-size: 6vw; /* Tamaño relativo para dispositivos más pequeños */
        padding: 10px;
    }
}

#mensaje {
    white-space: nowrap;
    position: fixed;
    top:41%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'The Seasons', sans-serif;
    font-size: 3vh;
    color: #7D5642;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Altura del viewport */
    width: 100vw; /* Ancho del viewport */
}

@font-face {
    font-family: 'The Seasons'; /* Nombre que le asignas a la fuente */
    src: url('The\ Seasons\ Light.ttf') format('truetype'); /* Ruta relativa al archivo de la fuente .ttf */
    /* Añade más formatos (woff, woff2, etc.) para compatibilidad con diferentes navegadores */
  }

 



